
  
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin:auto;
}

header{
    background: #ebebeb;
    padding: 20px;
    margin: 20px;  
    
}

nav{
    background: #ebebeb;
    padding: 20px;
    margin: 20px; 
}

section{
    background: #ebebeb;
    padding: 20x;
    margin: 20px;
    text-align: center;
    float: left;
    width: 495px;
    height: 620px;
}

article{
    color:#ebebeb;
    background:#777;
    padding: 20px;
    margin: 20px;
}

.nest{
    color: '#777';
    background: '#ebebeb';
}

aside{
    background: #ebebeb;
    padding: 20px;
    text-align: center;
    float: right;
    width: 420px;
    height: 620px;
}

footer{
    background: #ebebeb;
    padding: 20px;
    margin: 20px;
    bottom: 0;
    text-align: center;
    position: fixed; 
    width: 960px;
    display: block;
}

